/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Navigation Bar Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Main Content Styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Section Styles */
section {
    margin-bottom: 40px;
}

/* Additional Styles - Customize as needed */
h1,
h2 {
    color: #333;
}

.image-grid {
	--gap: 8px;
	--num-cols: 3;
	--row-height: 360px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}
.image-grid > img {
    width:100%;
    height:100%;
    object-fit: cover;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 375px;
        padding: 16px;
	}
    .image-grid > img {
        width:100%;
        height: 100%;
        object-fit:cover;
    }

}


